<div class="sidebar-search">

	<form method="get" action="/search" id="searchform" enctype="text/plain">

		<input type="text" name="search" value="{{ app.request.get('search') }}" placeholder="{{ __('Search for …') }}" >
		<input type="submit" name="submit" value="{{ __('Search') }}" >

	</form>

</div>